@import '../../../../styles/variables.scss';

.link {
    color: $grey;
    font-size: 14px;
    line-height: 21px;

}

.common {
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        -moz-background-clip: text !important;
        -moz-text-fill-color: transparent !important;
        background: $hover-primary;
    }
}

.router {
    color: $white;
    font-size: 16px;
}