$white: #fff;
$primary: -webkit-linear-gradient(106.69deg, #FFF500 -17.21%, #00FF5D 28.54%, #FF6BBE 58.35%);
$hover-primary:-webkit-linear-gradient(106.69deg, #d3cc09 -17.21%, #00c749 28.54%, #e03596 58.35%);
$grey:#bebebe;
$font-fam:"Gruppo",
"Montserrat",
Arial,
Helvetica,
sans-serif;