@import '../../../../styles/variables.scss';


.news {
    min-height: 600px;
    margin-top: 50px;

    .title {
        font-weight: normal;
        font-size: 50px;
        line-height: 46px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        max-width: 1440px;

        &::before {
            @include bg-dots;
        }

        @media(max-width:425px) {
            font-size: 40px;
        }
    }

    .body {
        margin: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: all 0.4s;
        gap: 40px;

        @media(max-width:1024px) {
            grid-template-columns: 1fr;
        }
    }
}